
* {
    box-sizing: border-box;
}
.jumbotron.h-50{
    background-image: url('../public/canyon-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

@media screen and (max-width: 600px) {
    .w-50.mx-auto {
        width: 100% !important;
        min-width: 300px;
    }
}